body {
  background-image: url(./Allisvanity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  /* https://commons.wikimedia.org/wiki/Template:PD-US */
}

p {
  font-family: cursive;
  font-size: 3rem;
}
